<div class="flex justify-center items-center my-12 xl:my-16 2xl:my-48">
  <div class="flex flex-col container max-w-md items-center space-y-4">
    <div class="mb-6">
      <span class="text-2xl font-semibold">Change Password</span>
    </div>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label> Put a New Password</mat-label>
      <input matInput type="password" class="w-full" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label> Repeat Password</mat-label>
      <input matInput type="password" class="w-full" />
    </mat-form-field>
    <div class="my-2 w-full">
      <button
        class="w-full py-2 px-3 rounded-xl transition-colors text-white bg-slate-500 hover:bg-slate-700 font-semibold">
        Change Password
      </button>
    </div>
    <div class="my-2">
      <span>Click here to </span>
      <span class="font-semibold" routerLink="/account/resetpassword">
        Login
      </span>
    </div>
  </div>
</div>
