<div class="flex justify-center items-center my-12 xl:my-16 2xl:my-48">
  <div class="flex flex-col container max-w-md items-center space-y-4">
    <div class="mb-6">
      <span class="text-2xl font-semibold">Sign in</span>
    </div>
    <!--inputs-->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="text"
        placeholder="john.doe@gmail.com"
        class="w-full"
        data-cy="email"
        [(ngModel)]="this.email" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Password</mat-label>
      <input matInput type="password" class="w-full" data-cy="password" />
    </mat-form-field>
    <div class="my-2 w-full">
      <button
        (click)="this.handleLogin()"
        data-cy="submit"
        class="w-full py-2 px-3 rounded-xl transition-colors text-white bg-slate-500 hover:bg-slate-700 font-semibold">
        Sign In
      </button>
    </div>
    <div class="my-2">
      <span>New to WAW?</span>
      Join for free now
    </div>
  </div>
</div>
