<div class="flex justify-center items-center">
  <div class="flex flex-col container max-w-md items-center mt-8 space-y-4">
    <div class="mb-6">
      <span class="text-2xl font-semibold">Forgot Password?</span>
    </div>
    <!--inputs-->
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="text"
        placeholder="john.doe@gmail.com"
        class="w-full">
      <!--        [(ngModel)]="this.email" />-->
    </mat-form-field>
    <div class="my-2 w-full">
      <button
        class="w-full py-2 px-3 rounded-xl transition-colors text-white bg-slate-500 hover:bg-slate-700 font-semibold"
        routerLink="/account/changepassword">
        Send
      </button>
    </div>
    <div class="my-2">
      <span>follow the instructions that we will send you by mail</span>
    </div>
    <div>
      <span class="font-semibold" routerLink="/account/changepassword"> Change Password </span>

    </div>
  </div>
</div>
