<main class="p-4">
  <h1>Active Job Offers</h1>
  <ng-template #loading>
    <mat-progress-bar
      mode="determinate"
      value="80"
      color="warn"></mat-progress-bar>
  </ng-template>

  <form #jobsForm="ngForm" (submit)="this.handleSubmit()" class="justify-between">
    <ng-container *ngFor="let field of this.columns">
      <mat-form-field *ngIf="this.useMatFormField(field)">
        <mat-label>{{ field.label }}</mat-label>
        <input
          *ngIf="['text', 'number'].includes(field.type)"
          matInput
          [name]="field.key"
          [type]="field.type"
          [required]="field.required ?? false"
          [attr.min]="field.type === 'number' ? field.min ?? null : null"
          [attr.max]="field.type === 'number' ? field.max ?? null : null"
          [attr.minLength]="
            field.type === 'text' ? field.minLength ?? null : null
          "
          [attr.maxLength]="
            field.type === 'text' ? field.maxLength ?? null : null
          "
          [(ngModel)]="this.currentItem[field.key]" />
        <mat-select
          *ngIf="field.type === 'dropdown'"
          [name]="field.key"
          [required]="field.required ?? false"
          [(ngModel)]="this.currentItem[field.key]">
          <mat-option
            *ngFor="let option of field.options"
            [value]="option.value">
            {{ option.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-slide-toggle
        *ngIf="field.type === 'toggle'"
        [name]="field.key"
        [required]="field.required ?? false"
        [(ngModel)]="this.currentItem[field.key]"
        aria-label="Publication status"
        matTooltip="Publication status">
        {{ field.label }}
      </mat-slide-toggle>
    </ng-container>

    <button
      mat-raised-button
      type="submit"
      color="primary"
      class="box-border h-12 w-28" aria-label="Button that displays a tooltip when focused or hovered over update or add icon"
      [matTooltip]="(isEditMode ? 'Update' : 'Add') + ' new job offer'">
      {{ isEditMode ? "Update" : "Add" }}
    </button>
    <button
      mat-raised-button
      color="warn"
      *ngIf="this.isEditMode"
      (click)="this.cancelEdit()"
      aria-label="Cancel job offer edit"
      matTooltip="Cancel job offer edit">
      Cancel
    </button>
    <mat-form-field appearance="outline" color="primary" class="order-last">
      <mat-label>Offer Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Lead UX"
        #input />
      <mat-icon matSuffix>filter_list</mat-icon>
    </mat-form-field>
  </form>

  <table
    mat-table
    matSort
    [dataSource]="this.dataSource"
    class="mat-elevation-z2 w-full border-separate border border-slate-300 table-auto">
    <ng-container
      *ngFor="let column of this.columns"
      [matColumnDef]="column.key">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header=""
        class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
        {{ column.label }}
      </th>
      <td
        mat-cell
        *matCellDef="let item"
        [ngClass]="[column.styles?.cellClassName || '']">
        <div [ngClass]="[column.styles?.containerClassName || '']">
          {{ this.getDisplayableColumn(item, column) }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
        Actions
      </th>
      <td mat-cell *matCellDef="let item">
        <button
          mat-icon-button
          color="primary"
          (click)="this.startEdit(item)"
          aria-label="Edit"
          matTooltip="Edit">
          <mat-icon aria-hidden="true">edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          (click)="this.deleteJob(item.id)"
          aria-label="Delete"
          matTooltip="Delete">
          <mat-icon aria-hidden="true">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="information">
      <td mat-footer-cell *matFooterCellDef colspan="5">
        In total there are {{ dataSource ? dataSource.data.length : 0 }} job offers
        registered in your account.
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="this.displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: this.displayedColumns"
      [ngClass]="{ 'editable-row': this.currentItem.id === row.id }"
      class="border border-slate-700 odd:bg-gray-100 even:bg-white"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">The filter "{{input.value}}" entered in the field does not match any data in the offers. "</td>
    </tr>
    <tr mat-footer-row *matFooterRowDef="['disclaimer']" class="count-footer"></tr>
  </table>
  <mat-paginator
    class="mat-elevation-z2"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 15]"
    showFirstLastButtons></mat-paginator>
</main>
