<main class="p-4">
  <h1>Active Job Offers</h1>
  <ng-template #loading>
    <mat-progress-bar
      mode="determinate"
      value="80"
      color="warn"></mat-progress-bar>
  </ng-template>

  <form #jobsForm="ngForm" class="flex justify-between">
    <button
      mat-raised-button
      color="primary"
      class="h-12 w-28"
      aria-label="Button that displays a tooltip when focused or hovered over add button"
      (click)="openDialog()"
      matTooltip="Add new job offer">
      {{ "Add Offer" }}
    </button>

    <mat-form-field appearance="outline" color="primary" class="order-last">
      <mat-label>Offer Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Lead UX"
        #input />
      <mat-icon matSuffix>filter_list</mat-icon>
    </mat-form-field>
  </form>

  <table
    mat-table
    matSort
    [dataSource]="this.dataSource"
    class="mat-elevation-z2 w-full border-separate border border-slate-300 table-auto">
    <ng-container
      *ngFor="let column of this.columns"
      [matColumnDef]="column.key">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header=""
        class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
        {{ column.label }}
      </th>
      <td
        mat-cell
        *matCellDef="let item"
        [ngClass]="[column.styles?.cellClassName || '']">
        <div [ngClass]="[column.styles?.containerClassName || '']">
          {{ this.getDisplayableColumn(item, column) }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
        Actions
      </th>
      <td mat-cell *matCellDef="let item">
        <button
          mat-icon-button
          color="primary"
          (click)="this.startEdit(item)"
          aria-label="Edit"
          matTooltip="Edit">
          <mat-icon aria-hidden="true">edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          (click)="this.deleteJob(item.id)"
          aria-label="Delete"
          matTooltip="Delete">
          <mat-icon aria-hidden="true">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="information">
      <td mat-footer-cell *matFooterCellDef colspan="5">
        In total there are {{ dataSource ? dataSource.data.length : 0 }} job
        offers registered in your account.
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="this.displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: this.displayedColumns"
      [ngClass]="{ 'editable-row': this.currentItem.id === row.id }"
      class="border border-slate-700 odd:bg-gray-100 even:bg-white"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        The filter "{{ input.value }}" entered in the field does not match any
        data in the offers. "
      </td>
    </tr>
    <tr
      mat-footer-row
      *matFooterRowDef="['information']"
      class="count-footer"></tr>
  </table>
  <mat-paginator
    class="mat-elevation-z2"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 15]"
    showFirstLastButtons></mat-paginator>
</main>
